* {
    font-family: Helvetica;
}

body {
    margin: 0%;
}

p {
    margin: 0px;
}

#baner, footer {
    background-color:  #AF4448; 
    color: white;
    text-align: center;
    height: 20px;
    margin: 0px;
}

#lewy, #prawy {
    background-color: #FFA4A2; 
    height: 650px;
    width: 50%;

}

#main {
    display: flex;
}

h4 {
    margin: 0px;
}

button {
    background-color: #AF4448;
    color: white;
    padding: 5px;
    margin: 10px;
}