<html>
    <head>
        <meta charset="utf-8" />
        <title>Licznik odwiedzin</title>
        <link rel="stylesheet" href="css/main.min.css" />
    </head>
    <body>
        <div class="bg"></div>
        <div class="meter">
            <div class="meter--database">
                Odwiedzin wg. bazy:
            </div>
            <div class="meter--file">
                Odwiedzin wg. pliku:
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="js/utils.js"></script>
        <script src="js/addData.js"></script>
        <script src="js/getData.js"></script>
        <script src="js/action.js"></script>
    </body>
</html>