body{
	/*background-color:grey;*/backgroundcolor
	margin:20px;
	display:block;
	}
p{
	<border-style:dotted;
	border-color:pink;
	font-size:50px;
	width:93%;
	text-shadow: 5px 5px 10px blue;
	border-width:50px;
	text-align:center;
	background: url('dC_OPy3k_400x400.jpg');
	font-family:Vivaldi;
	}