body {
    background-color: #f7f7f7;
    margin: 0;
    text-align: center;
}
.header {
    font-size: 3vw;
    color: #005f1d;
}
.qanda {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -40%);
    width: 95%;
    font-size: 3vw;
}

.score {
    display: flex;
    flex-direction: row;
    width: 30vw;
    justify-content: space-between;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    font-size: 2.5vw;
}
.ananasek1 {
    font-size: 1.5vw;
}
.ananasy {
    height: 4vw;
    background-size: contain;
}
.score > div {
    width: 9vw;
    height: 6vw;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: center;
    padding-top: 1vw;
}
.avg {
    background-image: url("img/odp_p.png");
}
.corr {
    background-image: url("img/odp_ok.png");
}
.uncorr {
    background-image: url("img/odp_no.png");
}
.turtle {
    background-image: url("img/but_3.png");
    width: 15vw;
    height: 16vw;
    background-size: contain;
    background-repeat: no-repeat;
    position: fixed;
    top: 30%;
    left: 5%;
}
.turtle:hover {
    background-position: 0 1vw;
}
.palma {
    width: 100vw;
    background-size: contain;
    background-position: bottom;
    height: 100vh;
    background-image: url("img/palma200pc.png");
    background-repeat: no-repeat;
    position: fixed;
    bottom: 0;
    z-index: -1;
}
input {
    font-size: 3vw;
    width: 6vw;
    text-align: center;
}
body > div:nth-child(3) {
    width: 100vw;
    height: 12vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
body > div:nth-child(3) > span {
    padding: 3vw;
    font-size: 3vw;
}

.corrB {
    background-color: #005f1d80;
}
.corrB > div {
    background-image: url("img/ok1.png");
    height: 10vw;
    width: 100vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.corrB > span {
    display: none;
}
.uncorrB {
    background-color: rgba(220, 20, 60, 0.5);
}
.uncorrB > div {
    background-image: url("img/z1.png");
    height: 10vw;
    width: 10vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.uncorrB > span {
    display: inline;
}
