*{
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    text-align: center;
}
.language{
    display: flex;
    margin: 1vw 9vw;
    &--text{
        font-size: 1.5em;
        width: 40vw;
        text-align: center;
    }
    &--button{
        width: 2vw;
        height: 2vw;
        &:hover{
            cursor: pointer;
            opacity: 80%;
        }
    }

}
.text{
    &>textarea{
        min-height: 15vw;
        padding: 1vw;
        font-size: 2em;
        vertical-align: top;
        resize: vertical;
        width: 40vw;
        margin:1vw;
    }
}
.translateBtn{
    margin: 1vw 43vw;
    width: 12vw;
    padding:1vw;
    font-size: 2em;
    border: 2px solid black;
    border-radius: 2vw;
    &:hover{
        background-color: rgba(0,0,0,0.2);
        cursor: pointer;
    }
}